body{
    font : 1.2rem arial;
}

a{
    color: grey;
}

.button{
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 5px;
}

.cookie-banner{
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.cookie-banner .container{
    margin: 20px auto;
    color: #f0f0f0;
    width: 70%;
    padding: 15px;
}